@import '../style/consts.scss';

.postListWrapper {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.isLoading {
    color: $accent-color1;
    
}