@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&family=Quattrocento:wght@400;700&display=swap');
@import './style/consts.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
}

p, a, span, b {
  font-family: 'Quattrocento', serif;
}
